.page__menu.main-nav-container
  .container: nav.main-nav
    a(href="#").main-nav__item Главная
    a(href="#").main-nav__item Ипотека
    a(href="#").main-nav__item О компании
    a(href="#").main-nav__item Акции
    a(href="#").main-nav__item Услуги
    a(href="#").main-nav__item Новости
    a(href="#").main-nav__item Карьера
    a(href="#").main-nav__item Контакты