.page__menu.main-nav-container
  .container: nav.main-nav.main-nav_prefooter
    a(href="#").main-nav__item Главная
    a(href="#").main-nav__item Ипотека
    a(href="#").main-nav__item О компании
    a(href="#").main-nav__item Акции
    a(href="#").main-nav__item Услуги
    a(href="#").main-nav__item Новости
    a(href="#").main-nav__item Карьера
    a(href="#").main-nav__item Контакты
footer.main-footer
  .container
    .row
      .col-auto
        a(href="/").main-footer__logo:  img(src="img/footer-logo.png", alt="")
        p © 2018 Центральное ипотечное агентство. 
        p Все права защищены
      .col.main-footer__right
        .row.justify-content-end.align-items-center.main-footer__right_top
          .col-auto.main-footer__schedule
            .schedule-container
              .schedule-header График работы: 
              ul.schedule
                li.schedule__item Пн
                li.schedule__item Вт
                li.schedule__item Ср
                li.schedule__item Чт
                li.schedule__item Пт
                li.schedule__item.schedule__item_holyday Сб
                li.schedule__item.schedule__item_holyday Вс
          .col-auto
            ul.social
              li.social__item: a(href="#").social__link: i.icm.icm-facebook
              li.social__item: a(href="#").social__link: i.icm.icm-vk
              li.social__item: a(href="#").social__link: i.icm.icm-instagram
              li.social__item: a(href="#").social__link: i.icm.icm-telegram
        .row.justify-content-end.align-items-center
          .col-auto
            a(href="https://akiwa.ru").akiwa
              img(src="img/akiwa.png", alt="") 
              span — Создание и продвижение сайтов
.d-none
  #callbackForm.modal-form
    form(action='mail.php', method='POST' data-parsley-validate)
      .modal-form__header
        | Обратный звонок
      input(name='name', type='text', placeholder='Ваше имя', maxlength='30' required)
      input(name='phone', type='tel', placeholder='Телефон', maxlength='25' required)
      textarea(name='message', placeholder='Комментарий')
      .modal-form__footer
        p
          | Нажимая на кнопку "Заказать звонок", вы даете согласие на обработку своих персональных данных
        .loading
          .loader.loader--style3(title='2')
            svg#loader-1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='40px', height='40px', viewBox='0 0 50 50', style='enable-background:new 0 0 50 50;', xml:space='preserve')
              path(fill='#D3D3D3', d='M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z')
                animatetransform(attributeType='xml', attributeName='transform', type='rotate', from='0 25 25', to='360 25 25', dur='0.6s', repeatCount='indefinite')
        input(type='submit', name='callback_submit', value='Заказать звонок')
    .success
      | Ваша заявка отправлена
