extends _template

block main
	.inner-screen.mb-com
		.container
			.row.inner-screen__row.flex-nowrap.justify-content-between
				.col.order-2.order-md-1
					.inner-screen__name.h.h-big Ипотека <br> на первичном рынке
					.inner-screen__desc Помощь в получении ипотеки на первичном рынке
					a(href="#").btn.btn-white получить консультацию
				.col-auto.order-1.order-md-2
					.inner-screen__img
						.inner-screen__image: img(src="img/hs1.jpg", alt="")
						.inner-screen__action ОТ 8,7%
	.bg-grey: .container
		.service-ipo-tabs.service-ipo-tabs_fly-nav
			.service-ipo-tabs__nav
				a(href="#").active Условия предоставления
				a(href="#") Требования
				a(href="#") Документы
			.service-ipo-tabs__body
				.service-ipo-tabs__item.active
					.service-ipo-item
						.service-ipo-item__col
							.service-ipo-item__name Условия кредитования
							.service-ipo-item__text В зависимости от выбранных опций тсавка может меняться. Для наглядности воспользуйтесь ипотечным калькулятором
						.service-ipo-item__col
							.service-ipo-item__row
								span Первый взонс от 20 до 49%
								span 9,50 %
							.service-ipo-item__row
								span Первый взонс 50%
								span 9,25 %
							.service-ipo-item__row
								span Для апартаментов<span class="text-muted"> (первый взонс от 30%)</span>
								span 9,50 %
				.service-ipo-tabs__item
					.service-ipo-item
						.service-ipo-item__col
							.service-ipo-item__name 1Условия кредитования
							.service-ipo-item__text В зависимости от выбранных опций тсавка может меняться. Для наглядности воспользуйтесь ипотечным калькулятором
						.service-ipo-item__col
							.service-ipo-item__row
								span Первый взонс от 20 до 49%
								span 9,50 %
							.service-ipo-item__row
								span Первый взонс 50%
								span 9,25 %
							.service-ipo-item__row
								span Для апартаментов<span class="text-muted"> (первый взонс от 30%)</span>
								span 9,50 %
				.service-ipo-tabs__item
					.service-ipo-item
						.service-ipo-item__col
							.service-ipo-item__name 2Условия кредитования
							.service-ipo-item__text В зависимости от выбранных опций тсавка может меняться. Для наглядности воспользуйтесь ипотечным калькулятором
						.service-ipo-item__col
							.service-ipo-item__row
								span Первый взонс от 20 до 49%
								span 9,50 %
							.service-ipo-item__row
								span Первый взонс 50%
								span 9,25 %
							.service-ipo-item__row
								span Для апартаментов<span class="text-muted"> (первый взонс от 30%)</span>
								span 9,50 %
	section.service-ipo.bg-grey
		.container
			.h.ta-center.service-ipo__header Сумма ипотечного кредита при покупке недвижимости
			.row
				.col-12.col-lg-6.mb-3.mb-lg-0
					.text-grad
						.text-grad__header Сумма ипотечного кредита при покупке недвижимости
						.text-grad__text
							.text-grad__col
								span Минимальная сумма
								span 500 000 <span class="rouble">ф</span>
							.text-grad__col
								span Максимальная сумма
								span 30 000 000 <span class="rouble">ф</span>
				.col-12.col-lg-6
					.text-grad
						.text-grad__header Для остальных регионов
						.text-grad__text
							.text-grad__col
								span Минимальная сумма
								span 500 000 <span class="rouble">ф</span>
							.text-grad__col
								span Максимальная сумма
								span 15 000 000 <span class="rouble">ф</span>
	section.pt-6.bg-grey.pb-8
		.container
			h2.h.h-big.ta-center Рассчитайте вашу ипотеку
			form(action="#" data-parsley-validate).home-calc.js-calc-init
				.home-calc__left
					.home-calc__row.mt-0: .calc-radio.calc-radio_big
						label.calc-radio__item
							input(type="radio" name="pays" value="a" checked)
							.calc-radio__name Аннуитетные ПЛАТЕЖИ
						label.calc-radio__item
							input(type="radio" name="pays" value="d")
							.calc-radio__name Дифферинцированные ПЛАТЕЖИ
					.home-calc__responsive-row
						.home-calc__column
							.home-calc__row.js-slider-container(data-start="1360000" data-min="0" data-max="3000000")
								.calc-row__header
									span
										| СТОИМОСТЬ, 
										span.rouble А
									span.calc-row__val(role="val" aria-type="price") 855 405
								.calc-row__body.js-slider-wrapper
									.js-slider
							.home-calc__row.js-slider-container(data-start="0" data-min="0" data-max="1000000" role="firstpaycur" aria-type="r")
								.calc-row__header
									span
										| Первоначальный взнос, &nbsp;&nbsp;
										span.calc-radio.calc-radio_inline
											label.calc-radio__item
												input(type="radio" name="first-pay" value="r" checked)
												.calc-radio__name.checked: span.rouble А
											label.calc-radio__item
												input(type="radio" name="first-pay" value="p")
												.calc-radio__name %
									span.calc-row__val(role="val" aria-type="first-pay") 855 405
								.calc-row__body.js-slider-wrapper
									.js-slider
							.home-calc__row.js-slider-container(data-start="0" data-min="0" data-max="100" role="firstpaycur" aria-type="p")
								.calc-row__header
									span
										| Первоначальный взнос, &nbsp;&nbsp;
										span.calc-radio.calc-radio_inline
											label.calc-radio__item
												input(type="radio" name="first-pay" value="r" checked)
												.calc-radio__name: span.rouble А
											label.calc-radio__item
												input(type="radio" name="first-pay" value="p")
												.calc-radio__name.checked %
									span.calc-row__val(role="val" aria-type="first-pay-persent") 0
								.calc-row__body.js-slider-wrapper
									.js-slider
						.home-calc__column
							.home-calc__row.js-slider-container(data-start="9.3" data-min="0" data-max="30" data-decimal="true")
								.calc-row__header
									span
										| Процентная ставка, %
									span.calc-row__val(role="val" aria-type="persent-val") 855 405
								.calc-row__body.js-slider-wrapper
									.js-slider
							.home-calc__row.js-slider-container(data-start="25" data-min="1" data-max="25")
								.calc-row__header
									span
										| Срок, <small>лет</small>
									span.calc-row__val(role="val" aria-type="time") 855 405
								.calc-row__body.js-slider-wrapper
									.js-slider
				.home-calc__right
					.home-calc__responsive-row
						.home-calc__column
							.calc-sum.mb-7
								span(role="output" aria-type="by-month") 60 526 
								span.rouble ф 
								span.calc-sum__by / Мес
							.calc-stat
								.calc-stat__row
									span Общая сумма выплат
									span <span role="output" aria-type="amount-pay" class="mr-0">75 581 006</span> <span class="rouble">ф</span>
								.calc-stat__row
									span Размер переплаты
									span <span role="output" aria-type="amount-overpay" class="mr-0">45 581 006</span> <span class="rouble">ф</span>
						.home-calc__column
							input.input(type="text" required placeholder="Имя" data-parsley-pattern="[а-яА-Я a-zA-Z]+").input-white
							input.input(type="tel" required placeholder="Телефон").input-white.mt-5
							button.btn.btn-primary.mt-6 Оставить заявку
	section.mortgage-partners
		.h.h-big.ta-center.mb-8 ОФИЦИАЛЬНЫЕ ПАРТНЕРЫ
		.container-fluid: .swiper-container
			.swiper-wrapper
				.swiper-slide: img(src="img/mp1.png", alt="")
				.swiper-slide: img(src="img/mp2.png", alt="")
				.swiper-slide: img(src="img/mp3.png", alt="")
				.swiper-slide: img(src="img/mp4.png", alt="")
				.swiper-slide: img(src="img/mp5.png", alt="")
				.swiper-slide: img(src="img/mp6.png", alt="")
				.swiper-slide: img(src="img/mp6.png", alt="")
				.swiper-slide: img(src="img/mp6.png", alt="")
				.swiper-slide: img(src="img/mp6.png", alt="")
				.swiper-slide: img(src="img/mp6.png", alt="")
	section.consult-panel
		.container
			.consult-panel__row
				.consult-panel__ico
					img(src="img/consult.svg", alt="")
				.consult-panel__text Обратитесь к специалисту за советом и помощью в ипотеке  
				a(href="#").consult-panel__btn.btn.btn-primary Получить консультацию

	section.home-reviews
		h2.h.h-big.ta-center.home-reviews__header Отзывы наших клиентов
		.reviews-slider.swiper-container
			.reviews-slider__list.swiper-wrapper
				.swiper-slide: .reviews-slider__slide
					.reviews-slider__author
						.reviews-slider__author-photo(style="background-image: url('img/review-photo1.jpg')" alt="")
						.reviews-slider__author-name Вова Дикусар
						.reviews-slider__author-sep
					.reviews-slider__text 
						| Огромное спасибо за профессиональную помощь в приобретении недвижимости в ипотеку. Это очень серьезный шаг в жизни каждой семьи. ЦИА помогли нам в нашей непростой ситуации. Нам одобрил ипотеку один из самых надежных банков - Сбербанк. Условия кредитования были подобраны именно так, как нам удобно и комфортно. 
					a(href="#").link.reviews-slider__more Подробнее
				.swiper-slide: .reviews-slider__slide
					.reviews-slider__author
						.reviews-slider__author-photo(style="background-image: url('img/review-photo2.jpg')" alt="")
						.reviews-slider__author-name Вова Дикусар
						.reviews-slider__author-sep
					.reviews-slider__text Огромное спасибо за Это очень серьезный шаг в жизни каждой семьи. ЦИА помогли нам в нашей непростой ситуации. Нам одобрил ипотеку один из самых надежных банков - Сбербанк. Условия кредитования были подобраны именно так, как нам удобно и комфортно. 
				.swiper-slide: .reviews-slider__slide
					.reviews-slider__author
						.reviews-slider__author-photo(style="background-image: url('img/review-photo3.jpg')" alt="")
						.reviews-slider__author-name Вова Дикусар
						.reviews-slider__author-sep
					.reviews-slider__text Огромное спасибо за профессиональную помощь в приобретении недвижимости в ипотеку. Это очень серьезный шаг в жизни каждой семьи. ЦИА помогли нам в нашей непростой ситуации. Нам одобрил ипотеку один из самых надежных банков - Сбербанк. Условия кредитования были подобраны именно так, как нам удобно и комфортно. 
			.reviews-slider-nav
				button.reviews-slider-nav__btn(role="prev"): i.icm.icm-angle-left
				.swiper-pagination
				button.reviews-slider-nav__btn(role="next"): i.icm.icm-angle-right
