@import "_settings/_mixins";
@import "_settings/_config";
@import "_settings/_reset";
@import "_settings/_generate";
@import "fonts";
@import "bootstrap-grid";


html {
    line-height: 1.4;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 1249px){
        font-size: 50%;
    }

}

body{
    font-size: fz($body-font-size);
    background-color: $body-background-color;
    font-family: $body-font-family, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

*{
    box-sizing: border-box;
}

.btn{
    border:none;

    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline:none;
    line-height: 1;
    padding: em(25,14) em(60,14);
    display: inline-block;
    border-radius: 999px;
    white-space: nowrap;
    transition: all .2s;
    &-primary{
        background-color: $primary-color;
        box-shadow: 0 0 em(29,14) rgba(15, 27, 65, 0.23);
        &:hover{
            box-shadow: 0 0 em(10,14) rgba(15, 27, 65, 0.23);
            background-color: #ffcb2e;
        }
    }
    &-white{
        background-color: #fff;
        box-shadow: 0 0 em(29,14) rgba(15, 27, 65, 0.23);
        &:hover{
            box-shadow: 0 0 em(10,14) rgba(15, 27, 65, 0.23);
            background-color: #ffcb2e;
        }
    }
    &-sm{
        padding: em(20,14) em(48,14);
    }
}


/*-------------------------------------------------*/
/*  author styles
/*-------------------------------------------------*/

[class^="icon-"], [class*=" icon-"]{
    font-family: $body-font-family !important;
}

.icm{
      font-family: 'icomoon' !important;
}

/*-------------------------------------------------*/
/*  START: utilities */
/*-------------------------------------------------*/
.nowrap{
    white-space: nowrap;
}
.ns{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.bg-grey{
    background-color: #F3F3F3;
}
.fw{
    &-l{
        font-weight: 300;
    }
    &-b{
        font-weight: bold;
    }
    &-n{
        font-weight: normal;
    }
    &-xb{
        font-weight: 800;
    }
}

.fz{
    &-lg{
        font-size: 3rem;
    }
}

.link{
    color: #0075ca;
}
.off-link{
    color: inherit;
    text-decoration: none;
}
.input{
    background:none;
    border:none;
    padding: 1rem 0;
    font-size: inherit;
    font-family: inherit;
    outline:none;
    &-white{
        border-bottom: 2px solid white;
        color: white;
        &::placeholder{
            color: white;
        }
    }
}
.icm-rouble{
    font-weight: normal;
    font-size: 0.8em;
}
.h{
    line-height: 1.56;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: em(6.75, 45);
    margin-bottom: 3.5rem;
    &-pre{
        font-size: 3rem;
    }
    &-big{
        font-size: 4.4rem;
    }
    &-md{
        font-size: 3.5rem;
    }
}

.big-offsets{
    margin: 13rem 0 16rem;
}

.ta-center{
    text-align: center;
}

/*-------------------------------------------------*/
/*  END: utilities */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: page */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  END: page */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: main-header */
/*-------------------------------------------------*/
.main-footer__logo,
.main-logo{
    display: inline-block;
    max-width: 20rem;
    img{
        max-width: 100%;
    }
}
.main-header{
    padding: 0.9rem 0 1.6rem;
    &__row{
        align-items: center;
        justify-content: space-between;
    }
    &__center{
        justify-content: space-around;
    }
    &__feedback{
        font-size: 1.3rem;
        padding: .9rem 1.7rem;
    }
    &__scheme,&__email{
        color: inherit;
        text-decoration: none;
        display: block;
    }
    &__scheme{
        text-decoration: underline;
    }
    &__tel{
        text-decoration: none;
        color: inherit;
        font-weight: 800;
        font-size: 2.3rem;
        display: block;
        text-align: center;
    }
}
/*-------------------------------------------------*/
/*  END: main-header */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: main nav */
/*-------------------------------------------------*/
.main-nav{
    display: flex;
    justify-content: space-between;
    &-container{
        background: black;
    }
    &__item{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2.7rem 0;
        display: block;
        line-height: 1;
        &:hover{
            text-decoration: underline;
        }
    }

}
/*-------------------------------------------------*/
/*  END: main nav */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: home-slider */
/*-------------------------------------------------*/
.home-slider{
    position: relative;
    &__item{
        min-height: 55.7rem;
        display: flex;
        padding: 5.3rem 0;
        background-size: cover;
        background-position: top center;
    }
    &__text{
        max-width: 60%;
        margin-bottom: 10.1rem;
    }
    &__btns{
        .btn:not(:first-child){
            margin-left: 3.2rem;
        }
    }
    &__list{
        color: #ffffff;
        font-size: 3.5rem;
        font-weight: bold;
        ul{
            list-style-type:none;
            padding: 0;
            margin: 0;
        }
        li{
            position: relative;
            padding-left: 1em;
            &:before{
                content: '';
                font-family: icomoon;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:not(:first-child){
                margin-top: 4.3rem;
            }
        }
    }
    &__nav{
        position: absolute;
        bottom: 6.6rem;
        right: calc((100vw - 1200px) / 2);
        @media screen and (max-width: 1249px){
         right: calc((100vw - 960px) / 2);   
        }
        @media screen and (max-width: 991px){
         right: calc((100vw - 720px) / 2);   
        }
        @media screen and (max-width:767px){
         right: calc((100vw - 540px) / 2);   
        }
        @media screen and (max-width:575px){
         right: 15px;
        }
        z-index: 1;
        text-align: center;
        display: inline-block;
        &-btns{
            button{
                outline:none;
                cursor: pointer;
                border:none;
                box-shadow: 0 0 24px rgba(72, 76, 119, 0.31);
                height: 4.7rem;
                width: 4.7rem;
                border-radius: 50%;
                background-color: #fff;
                display: inline-block;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                display: inline-flex;
                font-size: 1.6rem;
                &:not(:first-child){
                    margin-left: 1rem;
                }
            }
        }

    }
    .container{
        z-index: 2;
        position: relative;
    }
    &__counter{
        background-color: rgba(255,255,255,.3);
        border-radius: 1.5rem;
        height: 3rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        margin-bottom: 1.4rem;
    }
}
/*-------------------------------------------------*/
/*  END: home-slider */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: home-feature */
/*-------------------------------------------------*/
.home-feature{
    background-color: #0f5fa9;
    border-radius: 2rem;
    display: flex;
    color: white;
    padding: 5.2rem 1.8rem;
    margin-bottom: 3rem;
    align-items: center;
    line-height: 1.75;
    height: calc(100% - 3rem);
    margin-bottom: 3rem;
    &__ico{
        border-radius: 50%;
        background-color: #fff;
        flex: 0 0 11.1rem;
        max-width: 11.1rem;
        height: 11.1rem;
        display: flex;
        align-items: center; 
        justify-content: center;
        margin-right: 2.3rem;
    }
    &__header{
        text-transform: uppercase;
        margin-bottom: 2.5rem;
        font-weight: bold;
        font-size: 1.8rem;
        letter-spacing: em(1.08, 18);
        line-height: 1;
    }
}
/*-------------------------------------------------*/
/*  END: home-feature */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: service-item */
/*-------------------------------------------------*/
.service-item{
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 3.2rem rgba(15, 27, 65, 0.05);
    position: relative;
    margin-bottom: 3rem;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: inherit;
    &:hover{
        box-shadow: 0 0 3.2rem rgba(15, 27, 65, 0.14);
    }
    &__image{
        height: 24.2rem;
        background-size: cover;
        background-position: left bottom;
    }
    &__name{
        text-align: center;
        padding: 1rem;
        height: 10.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.44;
        letter-spacing: em(1.28, 16);
        font-weight: bold;
        text-transform: uppercase;
        background: #fff;
    }
    &__value{
        position: absolute;
        right: 3rem;
        top: 2.5rem;
        line-height: 1;
    }
    &__persent{
        font-size: 3.5rem;
        
    }
}

.home-services{
    position: relative;
    padding-bottom: 18rem;
    
    &:after{
        content: '';
        top: 24.5rem;
        left: 0;
        width: 100%;
        bottom: 0;
        background: linear-gradient(to top, #0075ca 0%, #080624 100%);
        display: block;
        position: absolute;
        transform: skewY(-7deg);
    }
    .container{
        position: relative;
        z-index: 1;
    }
    
    &__header{
        margin-bottom: 6.8rem;
    }
    &_grey{
        background-color: #f3f3f3;
        padding: 7.5rem 0rem 9rem;
        &:after{
            content: none;
            display: none;
        }
    }
}
/*-------------------------------------------------*/
/*  END: service-item */
/*-------------------------------------------------*/


/*-------------------------------------------------*/
/*  START: home-calc */
/*-------------------------------------------------*/
.contacts-form,
.home-calc{
    .input{
        width: 100%;
    }
    &-wrap{
        .container{
            position: relative;
            z-index: 2;
            padding-bottom: 12rem;
        }
        
        padding-top: 8rem;
        position: relative;
        z-index: 1;
        background: #F3F3F3;
        min-height: 30rem;
        &:after,&:before{
            content: '';
            position: absolute;
            background: #f3f3f3;
            height: 23rem;
            width: 50%;
            top: 0;
        }
        &:before{
            left: 0;
            transform: skewY(10deg) translate(0,-40%);
        }
        &:after{
            right: 0;
            transform: skewY(-10deg) translate(0,-40%);
        }
    }
    display: flex;
    box-shadow: 0 0 3.2rem rgba(15, 27, 65, 0.07);
    border-radius: 2rem;
    overflow: hidden;
    
    &__left{
        background: #fff;
        flex: 1 1 auto;
        padding: 6rem;
    }
    &__right{
        background-image: linear-gradient(to top, #0075ca 0%, #080624 100%);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
        font-size: 1.8rem;
        flex: 1 1 0;
    }
    &__row{
            margin-top: 5rem;
    }
}

.calc-radio{
    display: flex;
    border: 2px solid #15324c;
    border-radius: 3.1rem;
    height: 6.3rem;
    overflow: hidden;
  
    &_inline{
        display: inline-flex;
        height: auto;
        &>*{
            flex: 0 1 auto !important;
        }
        .calc-radio__name{
            padding: 0.4rem 1.1rem ;
        }
    }
    input{
        position: absolute;
        visibility: hidden;
    }
    &__name{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1;
        cursor: pointer;
        height: 100%;
        &:hover{
            background-color: lighten(#ececec,5%);
        }
    }
    &__item{
        flex: 1 1 0;

        align-items: stretch;
        &:not(:first-child){
            border-left: 2px solid #15324c;
        }
    }
    input:checked + &__name{
         background-color: #ececec;
    }
}

.calc-stat{
    box-shadow: 0 0.6rem 3.2rem rgba(15, 27, 65, 0.18);
    background: #3C628C;
    border-radius: 2rem;
    padding: 3rem;
    margin-bottom: 7rem;
    font-size: 1.8rem;
    white-space: nowrap;
    &__row{
        display: flex;
        justify-content: space-between;
        &:not(:first-child){
            margin-top: 2.5rem;
        }
        span:first-child{
            margin-right: 6rem;
        }
    }
}

.calc-sum{
    white-space: nowrap;
    line-height: 0;
    font-size: 5rem;
    text-align: center;
    &__by{
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.5em;
        vertical-align: .8em;
        
    }
}

.calc-row{
    
    &__header{
        font-weight: 800;
        text-transform: uppercase;
        font-size: 1.5rem;
        justify-content: space-between;
        align-items: flex-end;
        display: flex;
        margin-bottom: 1.6rem;
    }
    &__val{
        font-weight: normal;
        font-size: 2.6rem;
        line-height: 1;
        white-space: nowrap;
    }
}
/*-------------------------------------------------*/
/*  END: home-calc */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: home-achives */
/*-------------------------------------------------*/
.home-achives{
    margin: 10rem 0rem 15rem;
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 300;
    &__header{
        margin-bottom: 7rem;
    }
    &__table{
        margin-bottom: 9rem;
    }
}
.achives-table{
    display: flex;
    border: 1px solid black;
    border-radius: 2rem;
    &__item{
        text-align: center;
        flex: 1 1 0;
        padding: 4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.44;
        &:not(:first-child){
            border-left: 1px solid black;
        }
    }
    &__sep{
        width: 1px;
        height: 2.8rem;
        background-color: #c1c1c1;
        margin: 2rem auto;
    }
    &__value{
        line-height: 1;
        background-image: linear-gradient(-51deg, #ff8400 0%, #9f00da 100%);
        background-clip: text;
         
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5rem;
        font-weight: bold;
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
            background:none !important;
            color: #9F00DA;
        }
    }
}

/*-------------------------------------------------*/
/*  END: home-achives */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: plugins */
/*-------------------------------------------------*/
.noUi-handle{
    width: 3.6rem !important;
    height: 3.6rem !important;
    border-radius: 50%;
    box-shadow: 0 0.2rem 1.6rem rgba(15, 27, 65, 0.19);
    background-color: #ffffff;
    top: -1.6rem !important;
    right: -1.3rem !important;
    border:none;
    outline:none;
    &:after,&:before{
        display: none;
    }
}
.noUi-target{
    border:none;
    height: 4px;
    background-color: #cecece !important;
    box-shadow: none;
    border-radius: 0 !important;
    vertical-align: top;
}
.noUi-connect{
    background-color: #ffcc00;
    vertical-align: top;
    height: 5px;
}

.js-slider-wrapper{
    padding: 1.8rem 0;
}
.parsley-error{
    border-color: red;
}
.parsley-success{
    border-color: greenyellow;
}
.parsley-errors-list{
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0.5rem 0;
    color: red;
}
/*-------------------------------------------------*/
/*  END: plugins */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: review */
/*-------------------------------------------------*/
.home-reviews{
    overflow: hidden;
    &__header{
        margin-bottom: 7.5rem;
    }
}
.reviews-slider{
    margin: 0 -20rem;
    margin-bottom: 16rem;
    &-nav{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        z-index: 11;
        bottom: 11.5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &__btn{
            font-size: 3.4rem;
            color: white;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border:none;
        }
        .swiper-pagination{
            position: static;
            align-items: center;
            display: flex;
            margin: 0 5rem;
        }
    }
    &__slide{
        position: relative;
        margin-top: 9rem;
    }
    &__author{
        text-align: center;
        &-photo{
            margin-bottom: 2.5rem;
                width: 14.1rem;
                height: 14.1rem;
                margin-left: auto;
                margin-right: auto;
                
                border-radius: 50%;
                overflow: hidden;
                background-size: cover;
                background-position: center top;
                filter: grayscale(100%);
        }
        &-name{
            color: #242424;
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: 800;
        }
        &-sep{
            width: 50px;
            height: 2px;
            display: block;
            margin: 2.5rem auto;
            background-color: #000000;
        }
    }
    &__text{
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.6;
    }
}
.home-reviews{
.swiper-slide{
    opacity: 0.2;
    transition: all .3s;
}
.swiper-slide-active{
    opacity: 1;
    .reviews-slider__slide{
        background-image: linear-gradient(to top, #0075ca 0%, #080624 100%);
        color: white;
        border-radius: 3rem;
        padding: 12rem 5vw 15.2rem; 
        margin-top: 9rem;
        position: relative;
        margin-bottom: 5.5rem;
        border-bottom-left-radius: 0;
        &:before{
            content: '';
            top: 100%;
            margin-top: -1px;
            left: 0;
            border: 2.5rem solid transparent;
            border-top-color: #0075C9;
            position: absolute;
            border-left-color: #0075C9;
        }
    }
    .reviews-slider{
        &__author{
            &-photo{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                transform: translate(0,-50%);
                width: 17.6rem;
                height: 17.6rem;
                margin-left: auto;
                margin-right: auto;
                filter:none;
        
            }
            &-name{
                color: white;
            }
            &-sep{
                background: #fff;
            }
        }
    }
}
}
.swiper{
    &-pagination{
        &-bullet{
            
            min-width: 1.4rem;
            height: 1.4rem;
            border: 0.3rem solid #d4d4d4;
            background: none;
            opacity: 1;
            &:not(:first-child){
                margin-left: 2.6rem !important;
            }
            &-active{
                background-color: #ffcc00;
                border-color: #ffcc00;
            }
        }
    }
}
/*-------------------------------------------------*/
/*  END: review */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: consult panel */
/*-------------------------------------------------*/
.consult-panel{
    background-color: #000;
    color: #fff;
    overflow: hidden;
    &__ico{
        background-color: #fff;
        width: 15.5rem;
        height: 15.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: -1.6rem 0;
    }
    &__text{
        padding: 0rem 3rem;
    }
    &__row{
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
}

/*-------------------------------------------------*/
/*  END: consult panel */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: partners slider */
/*-------------------------------------------------*/
.partners-slider{
    background-color: #f1f1f1;
    padding: 9.5rem 0;
    &__pre-header{
        margin-bottom: 1rem;
    }
    &__header{
        margin-bottom: 7.8rem;
    }
    &__row{
        align-items: center;
    }
    &__slide{
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15.4rem;
        img{
            max-width: 100%;
        }
        &:first-child{
            margin-bottom: 3rem;
        }
    }
}
/*-------------------------------------------------*/
/*  END: partners slider */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: home stages */
/*-------------------------------------------------*/
.home-stages{
    padding: 8rem 0 10rem;
}

.stage-item{
    border-radius: 2rem;
    background-color: #efefef;
    background-image: linear-gradient(to top, #0075ca 0%, #080624 100%);
    text-align: center;
    padding: 3.3rem;
    color: white;
    height: 100%;
    font-size: 1.8rem;
    &__ico{
        width: 13.4rem;
        height: 13.4rem;
        box-shadow: 0 0.3rem 3.5rem rgba(15, 27, 65, 0.15);
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 3.5rem;
    }
    &__name{
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 2rem;
    }
    &__text{
        font-weight: 300;
        line-height: 1.56;
    }
}
/*-------------------------------------------------*/
/*  END: home stages */
/*-------------------------------------------------*/
#preFooterMap{
    height: 100%;
}
.map{
    height: 56.2rem;
    overflow: hidden;
    position: relative;
    &__container{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    &-left{
        padding: 9.7rem 0;
        
        position: absolute;
        width: 50%;
        font-weight: 300;
        line-height: 1.4;
        &__inner{
            position: relative;
            z-index: 1;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 10000px;
            background-color: rgba(#0062b5,.85);
        }
        ul{
            color: white;
            list-style-type:none;
            padding: 0;
            margin: 0;
        }
        li{
            margin-bottom: 6rem;
        }
        b{
            display: block;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
        a{
            color: inherit;
            text-decoration: none;
        }
    }
}

/*-------------------------------------------------*/
/*  START: schedule */
/*-------------------------------------------------*/
.schedule{
    list-style-type: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
    margin-left: 1.5rem;
    &-container{
        display: inline-flex;
        align-items: center;
    }
    &__item{
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 0.5rem;
        background-color: #0060b3;
        display: block;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        &:not(:first-child){
            margin-left: 0.5rem;
        }
        &_holyday{
            background-color: #a8a8a8;
        }
    }
}
/*-------------------------------------------------*/
/*  END: schedule */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: social */
/*-------------------------------------------------*/
.social{
    list-style-type:none;
    padding: 0;
    margin: 0;
    &__item{
        display: inline-block;
        &:not(:first-child){
            margin-left: 4rem;
        }
    }
    &__link{
        font-size: 1.7rem;
        text-decoration: none;
        color: inherit;
    }
}
/*-------------------------------------------------*/
/*  END: social */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: main-footer */
/*-------------------------------------------------*/
.main-footer{
    padding: 4rem 0rem 3.3rem;
    font-size: 1.4rem;
    line-height: 1.43;
    &__logo{
        display: block;
        margin-bottom: 2.5rem;
    }
    &__schedule{
        margin-right: 10rem;
    }
    &__right{
        &_top{
            margin-bottom: 4.2rem;
            height: 5.8rem;
        }
    }
}
/*-------------------------------------------------*/
/*  END: main-footer */
/*-------------------------------------------------*/

.akiwa{
    font-size: 1.3rem;
    color: #919191;
    text-decoration: none;
    img{
        margin-right: .5em;
    }
}

/*-------------------------------------------------*/
/*  START: ipoteka */
/*-------------------------------------------------*/
.ipoteka-nav{
    white-space: nowrap;
    position: relative;
    &__control{
        position: absolute;
        top: 0;
        height: 100%;
        width: 15rem;
        z-index: 2;
        cursor: pointer;
        &[aria-disabled="true"]{
            display: none;
        }
        &.swiper-prev{
            left: 0;
            background: linear-gradient(to right, white, transparent);
        }
        &.swiper-next{
            text-align: right;
            right: 0;
            background: linear-gradient(to left, white, transparent);
        }
    }
    &__item{
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.084rem;
        border-bottom: .4rem solid transparent;
        display: inline-block !important;
        width: auto;
        cursor: pointer;
        &.active{
            border-color: #ffcc00;
        }
    }
}
.ipoteka-content{
    background-color: #f3f3f3;
    padding: 6rem 0;
}
.ipoteka-item{
    background-color: #fff;
    border-radius: 2rem;
    padding: 4rem 5rem;
    display: flex;
    &:not(:first-child){
        margin-top: 3rem;
    }
    &__name{
        font-weight: 800;
        font-size: 2.6rem;
        text-transform: uppercase;
        letter-spacing: 0.156rem;
        margin-bottom: 2rem;
    }
    &__desc{
        line-height: 1.5;
        font-size: 1.6rem;
        margin-bottom: 4rem;
        padding-right: 11rem;
    }
    &__right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__more{
        color: inherit;
        text-decoration: none;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: 0.13rem;
        span,.icm{
            vertical-align: middle;
        }
        .icm{
            display: inline-block;
            margin-left: 1rem;
            transform: rotate(90deg);
        }
    }
}
.ipoteka-props{
    display: flex;
    margin-bottom: 5rem;
    &__item{
        &:not(:first-child){
            margin-left: 6rem;
        }
        
        font-size: 1.4rem;
        text-transform: uppercase;
        line-height: 1;
        &:not(&_big){
            letter-spacing: 0.084rem;
            display: flex;
            flex-direction: column;
            span:first-child{
                margin-bottom: 0.7rem;
                color: #6c6c6c;
                font-weight: bold;
            }
            span:last-child{
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 1.12;
                
            }
        }
        &_big{
            font-size: 5rem;
            sup{
                font-size: 0.5em;
            }
        }
    }
}

.ipoteka-chars{
    display: table;
    line-height: 1.56;
    &__item{
        display: table-row;
        &:not(:first-child){
            span{
                padding-top: 3rem;
            }
        }
        span{
            display: table-cell;
            &:first-child{
                color: #8a8a8a;
                text-transform: uppercase;
                letter-spacing: 0.084rem;
                font-weight: 700;
                padding-right: 6rem;
            }
        }
    }
}

.ipoteka-partner{
    text-align: center;
    font-size: 1.5rem;
    &__logo{
        margin-bottom: 1.5rem;
        img{
            max-width: 100%;
        }
    }
}
/*-------------------------------------------------*/
/*  END: ipoteka */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: big form */
/*-------------------------------------------------*/
.page__big-form{
    padding: 7rem 0;
}
.big-form{
    border-radius: 2rem;
    background-color: #0075ca;
    background-image: linear-gradient(to top, #0075ca 0%, #080624 100%);
    padding: 8rem 10rem;
    color: white;
    &__header{
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.71;
        text-transform: uppercase;
        letter-spacing: 0.525rem;
        text-align: center;
        margin-bottom: 11.5rem;
    }
    &__row{
        display: flex;
        .input,.btn{
            flex: 1 1 0;
            &:not(:first-child){
                margin-left: 3rem;
            }
        }
        margin-bottom: 11rem;
    }
    &__footer{
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
        span{
            display: block;
            margin-bottom: 1rem;
        }
    }
    &__tel{
        font-size: 7rem;
        font-weight: 700;
        line-height: 1;   
    }
    
}
/*-------------------------------------------------*/
/*  END: big form */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: inner page */
/*-------------------------------------------------*/
.inner-page{
    padding: 8rem 0 14rem;
    background-color: #f3f3f3;
}
/*-------------------------------------------------*/
/*  END: inner page */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*  START: action */
/*-------------------------------------------------*/
.action{
    &-list{
        &__item{
            &:not(:first-child){
                margin-top: 3rem;
            }
        }
    }
    &-item{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 34.7rem;
        border-radius: 2rem;
        overflow: hidden;
        background-size: cover;
        background-position: top center;
        position: relative;
        color: white;
        padding: 6rem;

        &>*{
            position: relative;
            z-index: 1;
        }
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #242333;
            opacity: 0.4;
        }
        &__discount{
            font-size: 3.5rem;
            color: #ffc000;
            span{
                font-weight: 700;
                font-size: 8rem;
            }
        }
        &__top{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 26rem;
            &-right{
                position: absolute;
                top: 0;
                right: 0;
                line-height: 1;
            }
        }
        &__name{
            font-size: 2.6rem;
            line-height: 1.54;
            text-transform: uppercase;
            letter-spacing: 0.156rem;
            font-weight: 800;
            margin-bottom: 1.3rem;
        }
        &__desc{
            font-size: 1.8rem;
        }
        &__btn{
            font-size: 1.3rem;
        }
    }
}
/*-------------------------------------------------*/
/*  END: action */
/*-------------------------------------------------*/
.news-list{
    &__item{
        &:not(:first-child){
            margin-top: 3rem;
        }
    }
}
.news-item{
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0 3.2rem rgba(15, 27, 65, 0.07);
    min-height: 30.3rem;
    display: flex;
    &__image{
        flex: 0 0 41.3rem;
        background-size: cover;
        background-position: top center;
        margin-right: 4rem;

    }
    &__content{
        padding: 5.5rem;
        padding-bottom: 2rem;
        position: relative;
        line-height: 1.56;
        display: flex;
        flex-direction: column;
    }
    &__date{
        position: absolute;
        transform: rotate(-90deg);
        right: calc(100% - 6.5rem);
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 300;
        color: #a6a6a6;
        top: 8rem;
    }
    &__name{
        font-size: 1.8rem;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 2rem;
        letter-spacing: 0.108rem;
    }
    &__desc{
        font-size: 1.8rem;
    }
    &__more{
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        box-shadow: 0 0.8rem 1.8rem rgba(39, 53, 119, 0.15);
        background-color: #ffcc00;
        transition: all .3s;
        &:hover{
            background-color: #FFCB2E;
            box-shadow: 0 0.8rem 2.8rem rgba(39, 53, 119, 0.35);
        }
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:before{
            content: '';
            border: .8rem solid transparent;
            border-left-color: black;
            border-left-width: 1.2rem;
            height: 0;
            padding: 0;
            display: inline-block;
            line-height: 0;
            transforM: translate(25%);
            transition: transform .3s;
        }


    }
    &__footer{
        margin-top: auto;
        text-align: right;
    }
}
.text-content{
    line-height: 1.63;
    p{
        margin: 1.5rem 0;
    }
}

.mortgage-first{
    background-color: #d2eaff;
    padding: 9rem 0 6.2rem;
    margin-bottom: 5.7rem;
    &-header{
        line-height: 1.2;
        font-weight: 700;
        font-size: 5rem;
        margin-bottom: 2.5rem;
    }
    &-desc{
        margin-bottom: 3.5rem;
        line-height: 1.6;
        font-size: 2rem;
        font-weight: 300;
    }
    &-request{
        display: flex;
        align-items: center;
     
        &__persent{
            font-size: 5rem;
            background-image: url('../img/circle.svg');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            width: 13.9rem;
            height: 13.9rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 1.6rem;
        }
        &__desc{
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.6;
        }
    }
    &-form{
        position: absolute;
        border-radius: 2rem;
        background-color: #ffcc00;
        background-image: linear-gradient(to top, #0075ca 0%, #080624 100%);
        padding: 8rem 10rem 5rem;
        color: white;
        width: 100%;
        &:after{
            content: '';
            right: 100%;
            height: 100%;
            bottom: 1rem;
            width: 2.2rem;
            background-image: url('../img/mortage-form-shadow.svg');
            display: block;
            position: absolute;
            background-size: cover;
        }
        &__wrapper{
            position: relative;
            width: 48.5rem;
            min-height: 40rem;
            
        }
        &__row{
            font-size: 1.8rem;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            span:first-child{
                margin-bottom: 0.5rem;
            }
            span:last-child{
                font-weight: bold;
                font-size: 4rem;
                line-height: 1;
            }
            &:not(:first-child){
                margin-top: 3rem;
            }
        }
        &__footer{
            margin-top: 6rem;
        }
    }
}

.mortgage-services{
    padding: 8.5rem 0 2rem;
    &-list{
        &__ico{
            margin-right: 4.3rem;
            width: 6.4rem;
            text-align: center;
            
        }
        &__desc{
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.44;
        }
        &__item{
            display: flex;
            align-items: center;
            &:not(:first-child){
                margin-top: 3.5rem;
            }
        
        }
    }
}

.mortgage-form{
    background-color: #121212;
    background-image:url(../img/mortgage-form-img.png), linear-gradient(to top, #0075ca 0%, #080624 100%);
    background-repeat: no-repeat;
    background-position: bottom right;
    color: white;
    padding: 9rem 0rem 10rem;
    &-desc{
        line-height: 2.22;
        font-size: 1.8rem;
        font-weight: 300;
        padding-left: 2rem;    
        margin: 0;
    }
    &__left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__right{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    &__form{
        display: flex;
        flex-direction: column;
    
        .input{
            width: 38rem;
            max-width: 100%;
        }
        &-row{
            &:not(:first-child){
                margin-top: 4rem;
            }
        }
    }
}
.mortgage-ipoteka{
    padding: 9rem 0;
}
.mortgage-partners{
    padding: 10rem 0 11rem;
    overflow: hidden;
    .swiper-slide{
        width: auto;
        display: inline-block;
    }
}
.mortgage-info{
    padding: 8rem 0 10rem;
    overflow: hidden;
    .swiper-container{
        overflow: visible;
    }
    &-slider{
        position: relative;
        &:after,&:before{
            content: '';
            top: -2rem;
            position: absolute;
            bottom: -2rem;
            width: 100vw;
            background: #F3F3F3;
            opacity: 0.5;
            z-index: 2;
            
        }
        &:after{
            left: 100%;
        }
        &:before{
            right: 100%;
        }
    }
    
}
/*-------------------------------------------------*/
/*  START: info-item */
/*-------------------------------------------------*/
.info-item{
  box-shadow: 0 0 3.2rem rgba(15, 27, 65, 0.07);
    border-radius: 2rem;
    background-color: #ffffff;
    padding: 3rem;
    padding-bottom: 8rem;
    position: relative;
    margin-bottom: 5rem;
    &__date{
        color: #818181;
        font-weight: 300;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 1;
    }
    &__name{
        font-weight: 800;
        font-size: 1.8rem;
        line-height: 1.56;
        text-transform: uppercase;
        letter-spacing: 0.108rem;
        margin-bottom: 3rem;
    }
    &__desc{
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.56;
    }
    &__more{
        @extend .news-item__more;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
    }
}
/*-------------------------------------------------*/
/*  END: info-item */
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*  START: vertical-item */
/*-------------------------------------------------*/
.vertical-item,.horizontal-item{
    box-shadow: 0 0 3.2rem rgba(15, 27, 65, 0.07);
    background: #fff;
    border-radius: 2rem;
    overflow: hidden;
    height: 100%;
    &-img{
        height: 21.1rem;
        background-size: cover;
        background-position: top center;
    }
    &-content{
        padding: 4rem 5rem 5rem;
    }
    &-header{
        font-size: 1.8rem;
        line-height: 1.56;
        letter-spacing: 0.108rem;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 3rem;
    }
    &-desc{
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.56;

    }
}

.horizontal-item{
    display: flex;
    border-radius: 1rem;
    min-height: 24.3rem;
    &-img{
        height: 100%;
        flex: 0 0 28rem;
    }
    &-content{
        padding: 4rem 3rem 3rem;
    }
    &-header{
        margin-bottom: 2rem;
    }
}
/*-------------------------------------------------*/
/*  END: vertical-item */
/*-------------------------------------------------*/
/*-- START: mobile nav --*/
.mobile-nav{
	padding: 0;
	margin: 0;
	position: fixed;
	z-index: 20;
	box-shadow: 0 0 30px grey;
	top:0;
	left: 0;
	background: white;
	height: 100%;
	overflow: auto;
	width: 260px;
	transition: transform .3s;
	&-btn{
		background: none;
		border:none;
		padding:0;
		span{
			width: 26px;
			height: 4px;
			border-radius: 4px;
			display: block;
			background: black;
			transition: all .3s;
			&:not(:first-child){
				margin-top: 4px;
			}
		}
		&.active{
			span{
				&:nth-child(1){
					transform: translate(0px,8px) rotate(45deg);
				}
				&:nth-child(2){
					opacity: 0;
				}
				&:nth-child(3){
					transform: translate(0px,-8px) rotate(-45deg);
				}
			}
		}
	}
	@media screen and (min-width: 992px){
		display: none;
	}
	&:not(.active){transform: translate(-150%,0)}
	&__parent{
		position: relative;
	}
	&__list,&__dropdown{
		@extend .ns;
		&-toggler{
			background:none;
			position: absolute;
			padding: 5px;
			border:none;
			right: 2rem;
			top: 1rem;
			&:before{
				content: '';
				display: block;
				border: 5px solid transparent;
				border-top-color: #000;
				border-top-width: 7px;
				transform: translate(0,3px);
			}
		}
	}
	&__dropdown:not(.active){
		display: none;
	}
	&__dropdown{
		padding-left: 1rem;
		font-size: 0.9em;
		.mobile-nav__link{
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
	}
	&__section{
		padding: 1rem 0;
		&:not(:first-child){
			border-top: 1px solid rgba(black ,.3);
		}
		&_1{
			text-transform: uppercase;
		}
	}
	&__link{
		display: block;
		padding: 1rem 3rem;
		text-decoration: none;
		color: inherit;
	}
}
/*-- END: mobile nav --*/

.modal-form .loading,
.modal-form .success{
  display: none;
}

.modal-form.sending .loading{
  display: block;
}
.modal-form.sent form{
  display: none;
}
.modal-form.sent .success{
  display: block;
}

.modal-form {
  font-size: 16px;
  font-family: arial;
  background-color: #fff;
  padding: 20px;
  width: 300px;
  max-width: 100%;
  animation: modalFade 1s;
}

.modal-form__header {
  text-transform: uppercase;
  font-size: 1.2em;
}

.modal-form__header:after {
  content: '';
  display: block;
  margin: 13px 0 5px;
  height: 2px;
  background-color: #2076B6;
  width: 50px;
}

.modal-form .success{
  background-image: url('http://www.freeiconspng.com/uploads/success-icon-10.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100px;
  padding-top: 120px;
  text-align: center;
}

.modal-form__footer {
  text-align: center;
}

.modal-form__footer p {
  margin: 10px 0;
  font-size: .8em;
  color: gray;
  line-height: 1.5em;
  font-size: 11px;
}

.modal-form input, .modal-form textarea {
  outline: none;
  font-family: Arial;
  margin-top: 20px;
  height: 40px;
  border: 1px solid #D3D3D3;
  background-color: #F4F4F4;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding-left: 20px;
  transition: border-color .3s;
}
.modal-form textarea{
  height: 100px;
  padding: 20px;
}

.modal-form input:focus, .modal-form textarea:focus {
  border: 1px solid #2076B6;
}

.modal-form input[type="submit"] {
  
  width: auto;
  padding: 0 20px;
  border: none;
  background-color: #2177B7;
  color: white;
  background: linear-gradient(#2177B7, #134D7B);
  margin-top: 10px;
  cursor: pointer;
}

.modal-form input[type="submit"]:hover {
  background: linear-gradient(#3192da, #1a69a7);
}

.modal-form input[type="submit"]:active {
  background: linear-gradient(#1a69a7, #3192da);
}

@keyframes modalFade{
  from{
    opacity: 0;
    transform: translate(0,-30px);
  }
  to{
    opacity: 1;
    transform: translate(0,0px);
  }
}
/*-------------------------------------------------*/
/*  ... */
/*-------------------------------------------------*/

@media screen and (max-width: 992px){
    .h{
        br{
            display: none;
        }
    }
    .mortgage{
        &-first{
            margin-bottom: 0;
            &-request{
                &__persent{
                    font-size: 4rem;
                }
            }
        }
        &-services{
            padding: 7rem 0;
            .h{
                margin-bottom: 5rem !important;
            }
        }
    }
    .mortgage-services-img{
        display: none;
    }
    .ipoteka-props{
        flex-wrap: wrap;
        margin-bottom: 0;
        &__item{
            margin-right: 3rem;
            margin-bottom: 3rem;
            margin-left: 0 !important;
            &_big{
                min-width: 100%;
            }
        }
    }
    .ipoteka-item{
        padding: 3rem;
        flex-direction: column;
        &__desc{
            padding-right: 0;
        }
        &__right{
            display: flex;
            flex-direction: row;
            margin-top: 5rem;
            flex-wrap: wrap;
            justify-content: center;
            &>*{
                margin-left: 2rem;
                margin-right: 2rem;
                margin-bottom: 3rem;
            }
        }
    }
    .big-form{
        &__header{
            margin-bottom: 5rem;
            font-size: 2.5rem;
        }
        &__row{
            flex-wrap: wrap;
            .input{
                margin-bottom: 3rem;
            }
        }
    }
    .contacts-form,
    .home-calc{
        display: flex;
        flex-direction: column;
        &__right{
            flex-basis: auto;
        }
    }
    .reviews-slider{
        margin-left: -50rem;
        margin-right: -50rem;
        margin-bottom: 10rem;
    }
    .achives-table{
        flex-wrap: wrap;
        border:none;
        justify-content: center;
        &__item{
            flex: 0 1 calc(50% - 2rem);
            max-width: calc(50% - 2rem);
            border: 1px solid black;
            border-radius: 2rem;
            margin: 0 1rem;
            margin-bottom: 2rem;
        }
    }
    .main-footer__schedule{
        margin-right: 0;
        margin-bottom: 3rem;
    }
    .big-offsets{
        margin: 7rem 0 10rem;
    }
    .main-logo{
        max-width: 15rem;
    }
    .main-header{
        &__center{
            flex-direction: column-reverse;
            .col-auto:last-child{
                margin-bottom: 1rem;
            }
        }
    }

    .home-feature{
        &__ico{
            
            height: 8rem;
            flex-basis: 8rem;
            max-width: 8rem;
            padding: 2rem;
            img{
                max-width: 100%;
            }
        }
    }

    .service-item{
        &__image{
            height: 20rem;
        }
    }

    .news-item{
        flex-direction: column;
        
        &__image{
            margin-right: 0;
            flex-basis: 40rem;
        }
    }
}

@media screen and (max-width: 991px) and (min-width: 768px){
    .contacts-form,
    .home-calc{
        &__responsive-row{
            display: flex;
            margin: 0 -3rem;
        }
        &__column{
            flex: 1 1 0;
            padding: 0 3rem;
        }
    }
    .calc-stat{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px){
    .horizontal-item{
        flex-direction: column;
    }
    .mortgage-first-form{
        position: relative;
        padding: 3rem;
        &:after{
            display: none;
        }
        &__wrapper{
            position: static;
            width: 100%;
        }
    }
    .mortgage-first-request{
        margin-bottom: 5rem;
    }
    .mortgage-form{
        &__form{
            width: 100%;
        }
        &__left,
        &__right{
            justify-content: stretch;
        }
    }
    .fast-help-start-text{
        flex-direction: column;
        .col,.col-auto{
            flex: 1 1 auto;
            &:not(:first-child){
                margin-top: 5rem;
                text-align: center;
            }
        }
    }
    .big-form{
        padding: 5rem;
        &__row{
            margin-bottom: 5rem;
        }
        &__tel{
            font-size: 4rem;
        }
    }
    .contacts-form,
    .home-calc{
        &__left{
            padding: 4rem;
        }
    }
    .home-slider{
        &__list{
            font-size: 2.5rem;
        }
        &__nav{
            bottom: 8rem;
        }

        &__text{
            margin-bottom: 5rem;
        }
        &__btns{
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            padding-right: 12rem;
            .btn{
                width: auto;
                max-width: 100%;
                margin: 1rem 0 !important;
            }
        }
    }
    .page__header{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(black,.2);
      
    }
    body{
        padding-top: 5.8rem;
    }
    .main-nav-toggler{
        display: block;
    }
    .main-header__tel{
        text-align: left;
        padding: 0 15px;
    }
    .main-header{
    .main-header{
        &__feedback-block,
        &__address,
        &__contacts-info{
            display: none;
        }
    }
    }
    .main-nav{
        display: none;
    }
    .calc-radio{
        &_big{
            flex-direction: column;
            height: auto;
            .calc-radio{
                &__name{
                    padding: 2rem;
                }
                &__item{
                    border:none;
                    
                    &:not(:first-child){
                        border-top: 1px solid #000;
                    }
                }
            }
        }
    }
    #preFooterMap{
        height: 40rem;
    }
    .consult-panel{
        padding: 3rem 0;
        &__ico{
            display: none;
        }
    }
    .map{
        height: auto;
        &-left{
            padding: 5rem 0;
            position: relative;
            li{
                margin-bottom: 3rem;
            }
            &:before{
                left: -999rem;
                right: -999rem;
            }
        }
        &__container{
            display: none;
        }
    }
    .schedule{
        margin-left: 0;
        &-container{
            flex-direction: column;
            
            width: 100%;
        }
        &-header{
            margin-bottom: 1rem;
            
        }
    }
    .main-footer{
        text-align: center;
        &__logo{
            margin-right: auto;
            margin-left: auto;
        }
        .row{
            flex-direction: column;
            .col{
                flex-basis: auto;
            }
        }
        &__schedule{
            width: 100%;
        }
        &__right{
            margin-top: 3rem;
            &_top{
                height: auto;
            }
            
        }
    }
}

@media screen and (max-width: 575px){
    .ipoteka-chars{
        display: block;
        &__item{
            display: block;
            margin-bottom: 3rem;
            span{
                display: block;
                padding: 0 !important;
            }
        }
    }
    .big-form{
        padding:3rem;
        &__row{
            flex-direction: column;
            &>*{
                flex: 1 1 auto !important;
                &:not(:first-child){
                    margin: 0 !important;
                    
                }
            }
        }
        .btn{
            margin-top: 5rem !important;
            padding: 2rem;
        }
        &__tel{
            font-size: 3rem;
        }
    }
    .h{
        &-big{
            font-size: 2.5rem;
            line-height: 1.3;
        }
        &-md{
            font-size: 2.2rem;
        }
        &-pre{
            font-size: 2rem;
        }
    }

    .action-item{
        height: auto;
        &__top{
            flex-direction: column-reverse;
            padding-right: 0;
            align-items: flex-start;
            margin-bottom: 3rem;
            &-right{
                position: static;
                margin-bottom: 3rem;
            }
        }
    }
      .news-item{
        &__image{
            
            flex-basis:25rem;
        }
    }
    .calc-stat{
        white-space: normal;
        &__row{
            margin-right: 0;
            flex-direction: column;
            span{
                margin: 0 !important;
            }
        }
    }
    .reviews-slider{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .consult-panel{
        &__text{
            margin-bottom: 2rem;
        }
        &__row{
            flex-direction: column;
        }
    }
    .achives-table{
        &__item{
            max-width: 100%;
            flex-basis: 100%;
        }
    }
    .home-slider{

         &__text{
            max-width: 100%;
        }
    }
    .home-slider__item{
        position: relative;
        &:after{
            content: '';
            background: #0075ca;
            background: linear-gradient(to top, #0075ca 0%, #080624 100%);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.8;
        }
    }
}

